[submodule "upstream/OwnTV"]
	path = upstream/OwnTV
	url = https://github.com/ahXN00/OwnTV.git

[submodule "upstream/OwnTV_Core"]
	path = upstream/OwnTV_Core
	url = https://github.com/ahXN00/OwnTV_Core.git
