<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <activity
        android:name="tv.own.owntv.MainActivity"
        tools:node="remove" />

    <activity
        android:name=".ui.IptvShellActivity"
        android:exported="true"
        android:launchMode="singleTop"
        android:theme="@style/Theme.IPTVPlayer.Starting">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        <intent-filter>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.DEFAULT" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:host="play" android:scheme="owntv" />
            <data android:host="open" android:scheme="owntv" />
        </intent-filter>
    </activity>
</manifest>
